<ul>
    @{
        int maxValue = Items.Any() ? Items.Max(x => x.Value) : 0;
    }
    @foreach (var item in Items)
    {
        <li class="@(item.IsPrimary ? "primary" : "")">
            <span class="value">
                @if (item.Value < 1000)
                {
                    @item.Value
                }
                else
                {
                    @($"{((double)item.Value / 10000):0.0}만")
                }
            </span>
            <div style="height: @(item.Value / (double)maxValue * MaxHeight)%;"></div>
            <span>@item.Label</span>
        </li>
    }
</ul>

@code {
    public class Item {
        public required int Value { get; set; }
        public required string Label { get; set; }
        public bool IsPrimary { get; set; } = false;
    }

    public const int MaxHeight = 70;

    [Parameter]
    public required List<Item> Items { get; set; }

}